:root
{
    --main-color: #d4d4d5;
    --second-color: #002147;
}
body {
    font-family: 'Cairo', sans-serif;
}

.my_lang_selector {
    padding: 4px 0 0 0 !important;
    width: auto;
}
.my_lang_selector> span{
    color: var(--second-color) !important;
    font-size: small;
    font-weight: bold;
    border: 1px solid var(--second-color);
    background-color: white;
    padding: 0 10px;
    border-radius: 15px;
}
.my_lang_selector> a{
    /* color: var(--second-color) !important; */
    font-size: small;
    font-weight: bold;
}
/* html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Almarai', sans-serif;
    color: #002147;
}
.content {
    flex: 1 0 auto;
}
.content{
    min-height: 100vh;
} */
/* .footer {
    flex-shrink: 0;
} */
/* ********************************* start nav bar ********************************* */
.bg-header{
    background-color: #D4D4D5;
    z-index: 999;
}
.navbar-brand{
    margin: 0px 150px ;
}
.navbar-company-title{
    font-size: medium;
    color: #2C90CA;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #002147 ;
}
.navbar-light .navbar-nav .nav-link {
    color: #002b5cab ;
    height: 100% !important;
    margin: 0 0.2rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #002147 ;
}
.navbar-nav .nav-link{
    font-size: small;
    font-weight: bold;
    white-space: nowrap;

}

@media (max-width:1260px) {
    .navbar-brand{
        margin: 0px 150px ;
    }
}
@media (max-width:1200px) {
    .navbar-brand{
        margin: 0px 100px ;
    }
}
@media (max-width:1075px) {
    .navbar-brand{
        margin:  0px 20px ;
    }
}
@media (max-width:920px){
    .navbar-brand{
        margin:  0px 0px ;
    }
    .navbar-company-title{
        font-size: small;
    }
    .navbar-nav .nav-link{
        font-size: 9px;
        font-weight: bolder;
        margin: 0 0rem;
    }
}
@media (max-width:800px){
    .navbar-brand{
        margin:  0px 0px ;
    }
    .navbar-company-title{
        font-size: x-small;
    }
    .navbar-nav .nav-link{
        font-size: x-small;
        font-weight: bolder;
        margin: 0 0rem;
    }
    .logo_nav_flag {
        width: 26px;


    }
}
@media (max-width:767px) {
    .navbar-brand{
        margin:  0px 0px ;
    }
    .navbar-company-title{
        font-size: x-small;
        color: #2C90CA;
    }
    .navbar-nav .nav-link{
        font-size: x-small;
        margin: 0 0rem;
        padding-left:  0;
        padding-right:  0;
    }
    .navbar-nav .nav-link:first-child{
        margin-top: 20px;
    }
}

/* ********************************* end nav bar ********************************* */

/* ********************************* start header-section********************************* */
.header-section{
    width: 100%;
    height: 300px;
    background-color: #D4D4D5;
}

.header-section-right{
    /* background-color: blueviolet; */
    height: 100%;
}
.header-section-left{
    /* background-color: chocolate; */
    height: 100%;
    padding-right: 10px;
}
.header-section-right-image{
    height: 100%;
    max-height: 300px;
    /* background-color: aqua; */
}
.header-section-right-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.header-section-left h4{
    font-weight: bold;
}
.header-section-left p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;

}
.special-word{
    color: #2C90CA;
}
@media (max-width:767px) {
    .header-section{
        height:auto;
    }
    .header-section-right{
        height: auto;

    }
    .header-section-left{
        height: auto;
        padding: 20px;
    }
}


/* ********************************* end header-section ********************************* */

/* ********************************* start latest-offers-section ********************************* */
.latest-offers-section{
    width: 100%;
    /* height: 300px; */
    /* background-color: #2C90CA; */
}
.latest-offers-section-right{
    /* background-color: blueviolet; */
    height: 100%;
}
.latest-offers-section-left{
    /* background-color: chocolate; */
    height: 100%;
}
.section-right-title-box{
    width: fit-content;
    color:#707070;
}
.section-title-underline-container{
    width: 100%;
    height: 20px;
    /* background-color: aliceblue; */
}
.section-title-underline-container-line{
    width: 100%;
    height: 2px;
    background-color: #707070;

}
.section-title-underline-container-box{
    width: 40%;
    height: 6px;
    background-color: #707070;
    position: absolute;
}
.latest-offers-section-left-card{
    min-width: 225px;
    min-height: 320px;
    /* background-color: aqua; */
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    padding: 0 10px 10px 10px;
}
.latest-offers-section-left-card-title{
    min-width: 120px;
    width: fit-content;
    /* min-height: 35px; */
    height: fit-content;
    background-color: #002147;
    margin: auto;
}

.latest-offers-section-left-card-title h6{
    color: aliceblue;
    margin-bottom: 0;
    padding: 7px 20px;
}
.latest-offers-section-left-card-price{
    font-size: 38px;
    font-weight: 900;
}
.latest-offers-section-left-card-currency{
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    color: #BDBDBD;
}
.latest-offers-section-left-card-line{
    width: 95%;
    height: 1px;
    background-color: #BDBDBD;
    margin: 10px 0;
}
.latest-offers-section-left-card-list ul {
	position: relative;
	list-style: none;
	margin-right: 0;
    padding-inline-start: 1.2em;
}
.latest-offers-section-left-card-list ul li::before {
	content: "✔";
	position: absolute;
	right: 0;
    left: 0;
    color: #2FC0C0;
}
.latest-offers-section-left-card-list ul li {
	font-size: small;
    margin-top: 5px;
}
.latest-offers-section-left-card-button{
    font-size: small;
    width: 95%;
    color: white;
}
.latest-offers-section-left-card-button.btn-colored{
    background-color: #002147;
}
.latest-offers-section-left-card-button.btn-colored:hover{
    background-color: #003879;
    color: white;
}

.latest-offers-section-left-card:nth-of-type(2) .latest-offers-section-left-card-title{
    background-color: #99B1C4;
}
.latest-offers-section-left-card:nth-of-type(2) .latest-offers-section-left-card-button.btn-colored{
    background-color: #3C89E3;
}
.latest-offers-section-left-card:nth-of-type(2) .latest-offers-section-left-card-button.btn-colored:hover{
    background-color: #0059be;
}

.latest-offers-section-left-card:nth-of-type(3) .latest-offers-section-left-card-title{
    background-color: #003C94;
}
.latest-offers-section-left-card:nth-of-type(3) .latest-offers-section-left-card-button.btn-colored{
    background-color: #78C6EB;
}
.latest-offers-section-left-card:nth-of-type(3) .latest-offers-section-left-card-button.btn-colored:hover{
    background-color: #3794ff;
}
@media (max-width:720px) {
    .latest-offers-section{
        flex-direction: column;
    }
    .latest-offers-section-right{
        width: 100%;
    }
    .latest-offers-section-left{
        width: 100%;
        justify-content: center;
    }
    .latest-offers-section-left-card{
        width: 45%;
    }
}
@media (max-width:540px) {
    .latest-offers-section-left-card{
        width: 90%;
    }
    .latest-offers-section-left{
        justify-content: center;
    }
}
/* ********************************* end latest-offers-section ********************************* */

/* ********************************* start latest-news-section ********************************* */
.latest-news-section{
    width: 100%;
    /* height: 300px; */
    background-color: #F0F4F9;
}
.latest-news-section-left{
    height: 100%;
    /* background-color: brown; */
}
.latest-news-section-left-card{
    min-width: 225px;
    min-height: 250px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    padding: 0 0 10px 0 ;
}
.latest-news-section-left-card-img{
    width: 100%;
    height: 145px;
    min-height: 145px;
    max-height: 145px;
    background-color: coral;
}
.latest-news-section-left-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-news-section-left-card-text p{
    font-size: 12px;
    font-weight: 900;
    word-spacing: -1px;
    margin: 0;
    padding: 0;

}
.latest-news-section-left-card-link a{
    font-size: small;
    color: #8D8D8D;
}
@media (max-width:720px) {
    .latest-news-section{
        flex-direction: column;
    }
    .latest-news-section-right{
        width: 100%;
    }
    .latest-news-section-left{
        width: 100%;
        justify-content: center;
    }
    .latest-news-section-left-card{
        width: 45%;
    }
}
@media (max-width:540px) {
    .latest-news-section-left-card{
        width: 90%;
    }
    .latest-news-section-left{
        justify-content: center;
    }
}
/* ********************************* end latest-news-section ********************************* */

/* ********************************* start partner-section ********************************* */
.partner-section{
    width: 100%;
}
.partner-section-slider{
    height: 300px;
}
.partner-section-slider .swiper {
    width: 100%;
    height: 100%;
  }

.partner-section-slider  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.partner-section-slider  .swiper-slide-img-container{
      width: 80%;
      height: 80%;
      /* background-color: #003C94; */
  }
  .partner-section-slider .swiper-horizontal > .swiper-pagination-bullets,
  .partner-section-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
  .partner-section-slider .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  }

  .partner-section-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  @media (max-width:720px) {
    .partner-section-top{
        width: 100%;
    }
}
/* ********************************* end partner-section ********************************* */

/* ********************************* start footer ********************************* */
/* .bg-footer{
    background-color: #002147;
    color: white ;
}
.bg-copyright{
    background-color: #707070;
}

.footer-subscribe-box button {
    top: 4px;
    right: 1px;
    font-size: x-small;
}
.footer-subscribe-box input::-webkit-input-placeholder{
    font-size: x-small;
}
.footer-subscribe-box input.form-control{
    padding-right: 70px;
}
.btn-subscribe{
    background-color: #3C3C3C;
    color: white;
}
.btn-subscribe:hover{
    background-color: #141414;
    color: white;
} */

/* ********************************* end footer ********************************* */

/* ************************* Start Service ********************************* */
.service {
    font-family: 'Tajawal', sans-serif;
}
.service h1 {
    font-family: 'Cairo', sans-serif;
    color: var(--second-color);
}

@media screen and (min-width: 1281px) {
    .service .first_circle {
        position: absolute;
        top: -100px;
        left: 280px;
    }
    .service .second_circle {
        position: absolute;
        top: -80px;
        left: 300px;
    }
    .service .text_circle {
        position: absolute;
        top: 10px;
        left: 380px;
    }
    .service .second .info {
        font-family: 'Cairo', sans-serif;
        width: 44%;
        font-weight: normal;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .service .first_circle {
        position: absolute;
        top: -100px;
        left: 230px;
    }
    .service .second_circle {
        position: absolute;
        top: -80px;
        left: 260px;
    }
    .service .text_circle {
        position: absolute;
        top: 20px;
        left: 330px;
    }
    .service .second .info {
        font-family: 'Cairo', sans-serif;
        width: 44%;
        font-weight: normal;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .service .first_circle {
        position: absolute;
        top: -100px;
        left: 130px;
    }
    .service .second_circle {
        position: absolute;
        top: -80px;
        left: 150px;
    }
    .service .text_circle {
        position: absolute;
        top: 20px;
        left: 230px;
    }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
    .service .first_circle {
        position: absolute;
        top: -100px;
        left: 200px;
    }
    .service .second_circle {
        position: absolute;
        top: -80px;
        left: 230px;
    }
    .service .text_circle {
        position: absolute;
        top: 20px;
        left: 310px;
    }
    .service .second .info {
        padding: 0 15px 0 0;
        font-family: 'Cairo', sans-serif;
        width: 66%;
        font-weight: normal;
    }

    .service .second>p {
        padding: 0 15px 0 0;
    }
}
@media screen and (max-width: 539px) {
    .service .first_circle {
        position: absolute;
        top: -100px;
        left: 120px;
    }
    .service .second_circle {
        position: absolute;
        top: -80px;
        left: 150px;
    }
    .service .text_circle {
        position: absolute;
        top: 20px;
        left: 230px;
    }
    .service .second .info {
        padding: 0 15px 0 0;
        font-family: 'Cairo', sans-serif;
        width: 66%;
        font-weight: normal;
    }

    .service .second>p {
        padding: 0 15px 0 0;
    }
}



.apply form .private_span{
    border-bottom: 2px solid #d7eaf5;
}

.apply form hr {
    width: 80px;
    height: 6px;
    color: #a5dbf8;
    position: absolute;
    bottom: -20px;
    left: 25px;
}

.footer {
    background-color: var(--second-color);
}

.footer .ps-5 i {
    color: var(--main-color);
    font-size: 30px;
}

.footer .footer_bottom {
    width: 93%;
    margin: auto;
    background-color: #707070;
    height: 50px;
    margin-top: 8rem;
    color: white;
}

@media (max-width:776px){
    .footer .footer_bottom {
        width: 100%;
        margin: auto;
        background-color: #707070;
        height: 50px;
        margin-top: 2rem;
        color: white;
        font-size: 12px;

    }
}

.footer .subscribe form input[type=submit] {
    position: absolute;
    top: 7px;
    right: 2px;
    font-size:x-small;
}

.footer .subscribe form input[type=email] {
    text-align: center;
    font-size:small;

}

.footer .subscribe form input[type=email]::placeholder {
    font-size: 10px;
    text-align: center;
    color: #777;
}

.footer .subscribe form i {
    color: black;
    position: absolute;
    top: 14px;
    left: 1px;
    margin-left: 10px;
}
/* ************************* End Service ********************************* */
/* ************************* Start Company ********************************* */

.company .svg {
 position: absolute;
 top: -5px;
 right: 0;
 width: 100%;
}

@media screen and (min-width:1281px) {
.company .info {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
}
.company .info h1 {
    padding-top: 4rem;
}
.company .info p{
    color: var(--second-color);
    position: absolute;
    margin-top: 5rem;
    right: 25rem;

}

.company .form {
    position: absolute;
    width: 100%;
    left: 0;
    top: 35rem;
}

.company .footer {
    position: absolute;
    top: 75rem;
    left: 0;
    width: 100%;
}
}
@media screen and (max-width: 1280px) and (min-width:1000px) {
.company .info {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
}
.company .info h1 {
    padding-top: 4rem;
}
.company .info p{
    color: var(--second-color);
    position: absolute;
    margin-top: 5rem;
    right: 14rem;

}

.company .form {
    position: absolute;
    width: 100%;
    left: 0;
    top: 24rem;
}

.company .footer {
    position: absolute;
    top: 64rem;
    left: 0;
    width: 100%;
}
}
@media screen and (max-width: 1279px) and (min-width:768px) {
.company .info {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
}
.company .info h1 {
    padding-top: 2rem;
}
.company .info p{
    color: var(--second-color);
    position: absolute;
    margin-top: 5rem;
    right: 10rem;

}

.company .form {
    position: absolute;
    width: 100%;
    left: 0;
    top: 14rem;
}

.company .footer {
    position: absolute;
    top: 52rem;
    left: 0;
    width: 100%;
}
}
@media screen and (max-width: 767px) {
.company .info {
    position: absolute;
    top: 0rem;
    left: 0;
    width: 100%;
}
.company .info h1 {
    padding-top: 2rem;
}
.company .info p{
    color: var(--second-color);
    position: absolute;
    margin-top: 5rem;
    right: 1rem;

}

.company .form {
    position: absolute;
    width: 100%;
    left: 0;
    top: 14rem;
}

.company .footer {
    position: absolute;
    top: 60rem;
    left: 0;
    width: 100%;
}
}

/* ************************* End Company ********************************* */
/* ************************* Start About ********************************* */

@media screen and (min-width: 504px) and (max-width: 767px){
 .about .row span {
    width: 25% !important;
 }
 .about .row p {
    width: 75% !important;
 }

 .footer .container-fluid .col-lg-11 p {
     width: 90% !important;
 }
}
@media screen  and  (max-width: 503px){
    .about .row {
        min-height: 450px !important;
    }
    .about .row span {
        width: 100% !important;
        margin-bottom: 1rem;
     }
    .about .row p {
        width: 100% !important;
     }

 .footer .container-fluid .col-lg-11 p {
     width: 90% !important;
 }
}

@media screen and (max-width: 385px){
.about .row {
    min-height: 500px !important;
}
.about .row span {
    width: 100% !important;
    margin-bottom: 1rem;
 }
.about .row p {
    width: 100% !important;
    font-size: 20px !important;
 }
}
@media screen and (max-width: 317px){
.about .row {
    min-height: 600px !important;
}
.about .row span {
    width: 100% !important;
    margin-bottom: 1rem;
 }
.about .row p {
    width: 100% !important;
    font-size: 20px !important;
 }
}
@media screen and (max-width: 281px){
.about .row {
    min-height: 700px !important;
}
.about .row span {
    width: 100% !important;
    margin-bottom: 1rem;
 }
.about .row p {
    width: 100% !important;
    font-size: 20px !important;
 }
}
@media screen and (max-width: 249px){
.about .row {
    min-height: 800px !important;
    padding: 0.5rem !important;
}
.about .row span {
    width: 100% !important;
    margin-bottom: 0rem !important;
    padding: 0 ;
 }
.about .row p {
    width: 100% !important;
    font-size: 19px !important;
 }
}
@media screen and (max-width: 229px){
.about .row {
    min-height: 950px !important;
}
.about .row span {
    width: 100% !important;
    margin-bottom: 0.2rem !important;
 }
.about .row p {
    width: 100% !important;
    font-size: 17px !important;
 }
}

.about span {
 border-bottom: 2px solid #becde069;
}

.about hr {
 position: absolute;
 bottom: -19px;
 transform: translateX(-50%);
 left: 50%;
 height: 6px;
 width: 50%;
 color: #d7eaf5;
}
.about2 {
 background-color: #becde069;
}
.about2 .our-version {
 border-bottom: 2px solid #becde069 ;
 position: relative;
}
.about2 .our-version hr {
 width: 50px;
 position: absolute;
 bottom: -3px;
 left: 50%;
 transform: translateX(-50%);
 height: 4px;
 margin: auto;
}

.our_message {
 border-bottom: 1px solid white;
 position: relative;
}

.our_message hr {
 position: absolute;
 bottom: -3px;
 left: 50%;
 transform: translateX(-50%);
 color: white !important;
 z-index: 999;
 height: 6px;
 margin: auto;
 width: 70%;
}
/* ************************* End About ********************************* */
/* ************************* Start Contact ********************************* */

@media screen and (min-width: 460px) and  (max-width: 768px) {
.contact h1 {
    color: var(--second-color);
    margin-top: 4rem;
    font-size: 3rem;
    padding: 1.5rem 0;
    border-bottom: 2px solid #b7b7b7;
}

.contact .info>span {
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid #707070;
    position: relative;
}

.contact .info>span hr {
    position: absolute;
    width: 50%;
    height: 6px;
    color: #707070 !important;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.contact .info_contact i{
    font-size: 1.8rem;
    color: #777;
    margin-left: 1rem;
}

.info .media i {
    font-size: 3.5rem !important;
    color: #d4d4d5;
    margin-left: 2rem;
    padding: 0 0.1rem !important;
}
}

@media screen and (max-width: 460px) {
.contact h1 {
    color: var(--second-color);
    margin-top: 4rem;
    font-size: 3rem;
    padding: 1.5rem 0;
    border-bottom: 2px solid #b7b7b7;
}

.contact .info>span {
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid #707070;
    position: relative;
}

.contact .info>span hr {
    position: absolute;
    width: 50%;
    height: 6px;
    color: #707070 !important;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.contact .info_contact i{
    font-size: 1.8rem;
    color: #777;
    margin-left: 1rem;
}

.info .media i {
    font-size: 2.5rem !important;
    color: #d4d4d5;
    margin-left: 1.5rem !important;
    padding: 0 0.1rem !important;
    margin-bottom: 25px !important;
}
}

.contact h1 {
 color: var(--second-color);
 margin-top: 4rem;
 font-size: 3rem;
 padding: 1.5rem 0;
 border-bottom: 2px solid #b7b7b7;
}

.contact .info>span {
 padding: 0 0 0.5rem 0;
 border-bottom: 1px solid #707070;
 position: relative;
}

.contact .info>span hr {
 position: absolute;
 width: 50%;
 height: 6px;
 color: #707070 !important;
 bottom: -19px;
 left: 50%;
 transform: translateX(-50%);
}

.contact .info_contact i{
 font-size: 1.8rem;
 color: #777;
 margin-left: 1rem;
}

.info .media i {
 font-size: 4rem;
 color: #d4d4d5;
 margin-left: 2rem;
 padding: 0 0.5rem;
}

.contact-svg> svg{
 width: 100% !important;
 height: auto;
}

.contact-svg .footer {
 margin-top: -2px !important;
 background-color: var(--second-color);
}

/* ************************* End Contact ********************************* */

/* ************************* Start Visas ********************************* */
.visas svg {
    position: absolute;
    top: 20px;
    left: 0;
    height: 500;
}

.visas_body .card {
    height: 100%;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .visas svg {
        position: absolute;
        top: -40px;
        left: 0;
        height: 500;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .visas svg {
        position: absolute;
        top: -50px;
        left: 0;
        height: 500;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .visas svg {
        position: absolute;
        top: -80px;
        left: 0;
        height: 500;
    }
}
@media screen and (min-width: 412px) and (max-width: 767px) {
    .visas svg {
        position: absolute;
        top: -130px;
        left: 0;
        height: 500;
    }
}
@media screen  and (max-width: 411px) {
    .visas svg {
        position: absolute;
        top: -150px;
        left: 0;
        height: 500;
    }
}

.visas_body h1 {
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: var(--second-color);
    z-index: 999;
    font-size: 4rem ;
}

.visas_body .card .card-body>span {
    font-family: 'Noto Kufi Arabic', sans-serif;
    position: absolute;
    width: 70%;
    padding: 1rem 2.5rem;
    background-color: white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    top: -3.2rem;
    font-weight: 500;
    box-shadow: 0px 2px 8px #888888;
   }

   @media screen and (min-width: 992px) and (max-width: 1280px) {
       .visas_body .card .card-body>span {
        font-family: 'Noto Kufi Arabic', sans-serif;
        position: absolute;
        width: 80%;
        padding: 1rem 2.5rem;
        background-color: white;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        top: -3.2rem;
        font-weight: 500;
        box-shadow: 0px 2px 8px #888888;
    }
   }

   @media screen and (max-width: 991px){
       .visas_body .card .card-body>span {
        font-family: 'Noto Kufi Arabic', sans-serif;
        position: absolute;
        width: 85%;
        padding: 1rem 2.5rem;
        background-color: white;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        top: -3.2rem;
        font-weight: 500;
        box-shadow: 0px 2px 8px #888888;
    }
   }

.visas_body .card .card-body {
    position: relative;
    margin-top: 1rem;
   }

.visas_body .card {
    box-shadow: 0px 2px 8px #888888;
    border-radius: 25px;
}
.visas_body .card .card-body >div p{
    font-size: 1.5rem;
}

.visas_body img {
    height: 250px !important;
    object-fit: cover;
}

.visas_body .card .card-body p {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

/* ************************* End Visas ********************************* */
/* ************************* Start Destinations ********************************* */

.destinations h1 {
 color: #84603f;
 font-size: 5rem;
 font-family: 'Noto Kufi Arabic', sans-serif;
 padding: 1rem 0;

}

.destinations .card {
box-shadow: 0px 2px 8px #888888;
border-radius: 25px;
}

.destinations .card .card-body {
 position: relative;
 margin-top: 1rem;
}
.destinations .card .card-body>span {
 position: absolute;
 width: auto;
 padding: 0 1rem;
 background-color: #2c90ca;
 color: white;
 text-align: center;
 left: 2rem;
 font-size: 2rem;
 top: -3.2rem;
}


.mypositionrelative {
position: relative;
height: 590px;
}
@media screen and (min-width: 1583px) {
.mypositionrelative {
    position: relative;
    height: 590px;
}
}
@media screen and (min-width: 1540px) and (max-width: 1582px) {
.mypositionrelative {
    position: relative;
    height: 570px;
}
}
@media screen and (min-width: 1502px) and (max-width: 1539px) {
.mypositionrelative {
    position: relative;
    height: 560px;
}
}
@media screen and (min-width: 1440px) and (max-width: 1501px) {
.mypositionrelative {
    position: relative;
    height: 535px;
}
}
@media screen and (min-width: 1350px) and (max-width: 1439px) {
.mypositionrelative {
    position: relative;
    height: 505px;
}
}
@media screen and (min-width: 1290px) and (max-width: 1349px) {
.mypositionrelative {
    position: relative;
    height: 480px;
}
}
@media screen and (min-width: 1208px) and (max-width: 1289px) {
.mypositionrelative {
    position: relative;
    height: 450px;
}
}
@media screen and (min-width: 1137px) and (max-width: 1207px) {
.mypositionrelative {
    position: relative;
    height: 420px;
}
}
@media screen and (min-width: 1066px) and (max-width: 1136px) {
.mypositionrelative {
    position: relative;
    height: 395px;
}
}
@media screen and (min-width: 986px) and (max-width: 1065px) {
.mypositionrelative {
    position: relative;
    height: 365px;
}
}
@media screen and (min-width: 906px) and (max-width: 985px) {
.mypositionrelative {
    position: relative;
    height: 335px;
}
}
@media screen and (min-width: 824px) and (max-width: 905px) {
.mypositionrelative {
    position: relative;
    height: 305px;
}
}
@media screen and (min-width: 742px) and (max-width: 823px) {
.mypositionrelative {
    position: relative;
    height: 275px;
}
}
@media screen and (min-width: 689px) and (max-width: 741px) {
.mypositionrelative {
    position: relative;
    height: 255px;
}
}
@media screen and (min-width: 636px) and (max-width: 688px) {
.mypositionrelative {
    position: relative;
    height: 235px;
}
}
@media screen and (min-width: 552px) and (max-width: 635px) {
.mypositionrelative {
    position: relative;
    height: 205px;
}
}
@media screen and (min-width: 473px) and (max-width: 551px) {
.mypositionrelative {
    position: relative;
    height: 175px;
}
}
@media screen and (min-width: 392px) and (max-width: 472px) {
.mypositionrelative {
    position: relative;
    height: 145px;
}
}
@media screen and (min-width: 311px) and (max-width: 391px) {
.mypositionrelative {
    position: relative;
    height: 115px;
}
}
@media screen and (min-width: 229px) and (max-width: 310px) {
.mypositionrelative {
    position: relative;
    height: 85px;
}
}
@media screen and  (max-width: 228px) {
.mypositionrelative {
    position: relative;
    height: 45px;
}
}

.mydestination {
position: absolute;
}
/* ************************* End Destinations ********************************* */
/* ************************* Start Offers ********************************* */
.offers {
    background-image: url('../../public/media/contactus/Background.svg');
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
    font-family: 'Noto Kufi Arabic', sans-serif;

}

.offers h1 {
    color: var(--second-color);
    font-size: 3rem;
    margin-top: 10rem;
    margin-right: 8rem;
    margin-bottom: 4rem;
}

 .offers .swiper-slide-img-container img {
        height: 100%;
        width: 90%;
        object-fit: cover;
        border-radius: 25px;
        margin: auto;
    }


    .offers .swiper-slide-img-container {
        position: relative;
    }

    .offers .swiper-slide-img-container span {
        color: var(--second-color);
        background-color: #ffffff59;
        width: auto;
        padding: 1rem 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .offers .partner-section1 {
        height: 600px !important;
        margin-bottom: 4rem;
    }

    .offers .partner-section-slider {
        height: 100%;
    }






    @media screen and (min-width: 1000px) and (max-width: 1279px)  {
        .offers h1 {
        color: var(--second-color);
        font-size: 3rem;
        margin-top: 5rem;
        margin-right: 8rem;
        margin-bottom: 4rem;
        }
    .offers .partner-section1 {
            height: 500px !important;
            margin-bottom: 4rem;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 999px)  {
        .offers h1 {
        color: var(--second-color);
        font-size: 3rem;
        margin-top: 4rem;
        margin-right: 8rem;
        margin-bottom: 4rem;
        }
    .offers .partner-section1 {
            height: 500px !important;
            margin-bottom: 4rem;
        }
    }
    @media screen and  (max-width: 767px)  {
        .offers h1 {
        color: var(--second-color);
        font-size: 3rem;
        margin-top: 4rem;
        margin-right: 8rem;
        margin-bottom: 4rem;
        }
    .offers .partner-section1 {
            height: 600px !important;
            margin-bottom: 4rem;
        }
    }
    /* ************************* End Offers ********************************* */
/* ************************* Start Advisor ********************************* */
.advisor .cover {
    width: 50%;
    height: 550px;
    transform: rotate(-160deg);
}

@media screen and (max-width: 767px) {
    .advisor .cover {
        width: 100% !important;
        height: 300px;
        margin: auto;
        transform: rotate(-160deg);
    }
    .advisor .position-relative p {
        color: var(--second-color);
        font-size: 16px !important;
        width: 45% !important;
        position: absolute;
        top: 45% !important;
        right: 28% !important;
    }
    .advisor .cover_text {
        position: absolute;
        top: 10% !important;
        right: 30% !important;
        color: #3c89e3;
    }
}
@media screen and (min-width: 768px) and (max-width: 911px) {
    .advisor .cover {
        width: 70%;
    height: 350px;
    transform: rotate(-160deg);
        margin: auto;
    }
    .advisor .position-relative p {
        color: var(--second-color);
        font-size: 15px !important;
        width: 34% !important;
        position: absolute;
        top: 50%;
        right: 16% !important;
    }
    .advisor .cover_text {
        position: absolute;
        top: 25% !important;
        right: 17% !important;
        color: #3c89e3;
    }
}

.advisor .cover_text {
    position: absolute;
    top: 35%;
    right: 14%;
    color: #3c89e3;
}

.advisor .position-relative p {
    color: var(--second-color);
    font-size: 20px;
    width: 25%;
    position: absolute;
    top: 55%;
    right: 14%;
}

.advisor .advisor_contact {
    color: #3c89e3;
    font-size: 35px;
    text-align: center;
    margin: 5rem 5rem 10rem 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .advisor .advisor_contact {
        color: #3c89e3;
        font-size: 25px;
        text-align: center;
        margin: 5rem 0 10rem 0;
    }
}
@media screen and  (max-width: 767px) {
    .advisor .advisor_contact {
        color: #3c89e3;
        font-size: 16px;
        text-align: start;
        margin: 5rem 0 10rem 0;
    }
    .advisor .advisor_contact .spical {
        width: auto;
        padding: 0 0.8rem;
        background-color: #3c89e3;
        color: white;
        margin: 0 0rem !important;
    }
}

.advisor .advisor_contact .spical {
    width: auto;
    padding: 0 0.8rem;
    background-color: #3c89e3;
    color: white;
    margin: 0 2rem;
}
/* ************************* End Advisor ********************************* */


/* ************************* Start Offer Info ********************************* */
.offer_info img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 250px;
    overflow: hidden;
}

.offer_info  .offer_overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.548);
    height: 100%;
    z-index: 888;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .offer_info ul {
        width: 90% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .offer_info ul {
        width: 100% !important;
    }
    .offer_info img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 250px;
        overflow: hidden;
        width: 60% !important;
    }
    .offer_info .box_offer_info .my_span {
        color: var(--second-color);
        background-color: rgba(255, 255, 255, 0.63);
        position: absolute;
        width: auto !important;
        top: 1rem !important;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        left: 15rem !important;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    }
}
@media screen and (max-width: 767px ) {
    .offer_info ul {
        width: 100% !important;
    }
    .offer_info img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 250px;
        overflow: hidden;
        width: 100% !important;
    }
    .offer_info .box_offer_info .my_span {
        color: var(--second-color);
        background-color: rgba(255, 255, 255, 0.63);
        position: absolute;
        width: auto !important;
        top: 1rem !important;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        left: 0rem !important;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    }
}

.offer_info ul {
    width: 75%;
}
.offer_info .box_offer_info .my_span {
    padding: 1rem 4rem;
    color: var(--second-color);
    background-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    width: auto;
    top: 1rem;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    left: -3rem;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}

.offer_info h4>span {
    border-bottom: 2px solid rgba(119, 119, 119, 0.356);
}
.offer_info form h4>span {
    border-bottom: 2px solid rgba(119, 119, 119, 0.356);
}

.offer_info h4>span hr {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    color: rgb(24, 23, 23);
    height: 6px;
}
.offer_info form h4>span hr {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    color: rgb(24, 23, 23);
    height: 6px;
}

.offer_info ul {
    font-size: 18px;
    font-weight: 500;
}
/* ************************* End Offer Info ********************************* */

