
/* **************** start switch light and dark ******************** */
#switch_light_dark .checkbox {
    opacity: 0;
    position: absolute;
  }

  #switch_light_dark .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    margin-bottom: 0;
    /* transform: scale(1.2); */
  }


  #switch_light_dark .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  #switch_light_dark .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }


  #switch_light_dark .fa-moon {
    color: #f1c40f;
  }

  #switch_light_dark .fa-sun {
    color: #f39c12;
  }
  .dark-version .lable-color-change-on-dark{
    background-color: #fff !important; 
  }
  .dark-version .ball-color-change-on-dark{
    background-color: grey !important; 
  }
  
/* **************** end switch light and dark ******************** */

/* **************** start edit sidebar for scroll ******************** */

.navbar-collapse {
    position: relative; }
    .navbar-collapse .navbar-nav {
      width: 100%; }
      .navbar-collapse .navbar-nav .nav-item.dropdown {
        position: static; }
        .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
          left: 0;
          right: 0; }
          .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu.show:before {
            content: none; } 

/* **************** end edit sidebar for scroll ******************** */


/* **************** start spinner load ******************** */
.spinner {
  width: 30px;
  height: 30px;

  position: relative;
  margin:  auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* **************** end spinner load ******************** */
.dark-version .dataTables_paginate .paginate_button:not(.active) a{
  background-color: #344767;
}
.dark-version input{
  color: white !important;
}
.dark-version div.dataTables_wrapper div.dataTables_filter input {
  border: 1px solid white;
}
div.dataTables_wrapper div.dataTables_filter input {
  border: 1px solid #d2d6da;
}

/* ****************************** start filepond *******************************/
.dark-version .filepond--drop-label.filepond--drop-label label {
  color: black !important;
}
/* ****************************** end filepond *******************************/

:not(.dark-version) .table thead th {
  color: #7B809A  !important;
}

textarea {
    border: 1px solid #d2d6da !important;
    padding: 10px !important;
}

.input-group.input-group-outline.is-focused .form-label:before, .input-group.input-group-outline.is-focused .form-label:after, .input-group.input-group-outline.is-filled .form-label:before, .input-group.input-group-outline.is-filled .form-label:after {
    border-top-color: #112cf5 !important;
    box-shadow: inset 0 1px #112cf5;
}
.input-group.input-group-outline.is-focused .form-label, .input-group.input-group-outline.is-filled .form-label{
    color: #112cf5 !important;
}

.input-group.input-group-outline.is-focused .form-label + .form-control, .input-group.input-group-outline.is-filled .form-label + .form-control {
    border-color: #112cf5 !important;
    border-top-color: transparent !important;
    box-shadow: inset 1px 0 #112cf5, inset -1px 0 #112cf5, inset 0 -1px #112cf5;

}
